footer.footer
    .footer__items
        .footer__item
            a(href="#").footer__link Latest Posts
            a(href="#").footer__link Popular Posts
        .footer__item
            a(href="#").footer__link Search
            a(href="#").footer__link Comntact Information
        .footer__item
            a(href="#").footer__link Privacy Policy
            a(href="#").footer__link Terms of Use
        .footer__item 
            include ./social_icons.pug


    .copyright
        .copyright__text © Copyright 2019. All rights reserved.
