form(action="").form
    h2.form__title Comment It:
    textarea(name="comment", cols="30", rows="10", placeholder="Leave your comment here").form__comment
    input(type="text", name="name", inputmode="text", placeholder="Your Name").form__name
    input(type="email", name="email", inputmode="email", placeholder="Email").form__email
    input(type="url", name="url", inputmode="url", placeholder="Homepage").form__url
    +light-rounded-btn("Comment")