header.header
    .header__social
        include ./social_icons.pug
    .header__logo 
        h1.logo Hipsum Blog
    .header__tools
        .header__tools-subscribe
            button(class="btn-rounded") Subscribe