+widget("Instagram")
    .instagram-container
        img(src="./img/instagram/insta-01.jpg" alt="Instagram Photo").instagram-container__item
        img(src="./img/instagram/insta-02.jpg" alt="Instagram Photo").instagram-container__item
        img(src="./img/instagram/insta-03.jpg" alt="Instagram Photo").instagram-container__item
        img(src="./img/instagram/insta-04.jpg" alt="Instagram Photo").instagram-container__item
        img(src="./img/instagram/insta-05.jpg" alt="Instagram Photo").instagram-container__item
        img(src="./img/instagram/insta-06.jpg" alt="Instagram Photo").instagram-container__item
        img(src="./img/instagram/insta-07.jpg" alt="Instagram Photo").instagram-container__item
        img(src="./img/instagram/insta-08.jpg" alt="Instagram Photo").instagram-container__item
        img(src="./img/instagram/insta-09.jpg" alt="Instagram Photo").instagram-container__item
        img(src="./img/instagram/insta-10.jpg" alt="Instagram Photo").instagram-container__item