+widget("Instagram")
    .instagram-container
        +instagram-link('insta-01.jpg')
        +instagram-link('insta-02.jpg')
        +instagram-link('insta-03.jpg')
        +instagram-link('insta-04.jpg')
        +instagram-link('insta-05.jpg')
        +instagram-link('insta-06.jpg')
        +instagram-link('insta-07.jpg')
        +instagram-link('insta-08.jpg')
        +instagram-link('insta-09.jpg')
        +instagram-link('insta-10.jpg')
