.pagination
    .pagination__recent 
        a(href="#") recent posts
    .pagination__current
        .pagination__current-item--active 1
        .pagination__current-item
            a(href="#") 2 
        .pagination__current-item 
            a(href="#") 3
    .pagination__older
        a(href="#") older posts