+widget("Popular posts")
    +widget-post("Title", "01.jpg", "Info")
    +widget-post("Title", "02.jpg", "Info")
    +widget-post("Title", "03.jpg", "Info")
    +widget-post("Title", "04.jpg", "Info")
    +widget-post("Title", "05.jpg", "Info")
