.widget
    .widget__title Recent Posts

    .widget-post 
        .widget-post__img
            img(src="./img/small-thumbs/01.jpg", alt="")
        .widget-post__title Austin DIY sriracha polaroid sartorial la croix.
        .widget-post__info DECEMBER 26, 2019 — 5 COMMENTS

    .widget-post 
        .widget-post__img
            img(src="./img/small-thumbs/02.jpg", alt="")
        .widget-post__title Austin DIY sriracha polaroid sartorial la croix.
        .widget-post__info DECEMBER 26, 2019 — 5 COMMENTS

    .widget-post 
        .widget-post__img
            img(src="./img/small-thumbs/03.jpg", alt="")
        .widget-post__title Austin DIY sriracha polaroid sartorial la croix.
        .widget-post__info DECEMBER 26, 2019 — 5 COMMENTS
