.share-icons
    a(href="#").share-icons__item
        img(src="./img/icons/social/whatsapp.svg", alt="Share in WhatsApp", width="21")
    a(href="#").share-icons__item
        img(src="./img/icons/social/instagram.svg", alt="Share in Instagram", width="19")
    a(href="#").share-icons__item
        img(src="./img/icons/social/twitter.svg", alt="Share in Twitter", width="21")
    a(href="#").share-icons__item
        img(src="./img/icons/social/facebook-f.svg", alt="Share in Facebook",width="19")