body {
    font-family: 'Montserrat', sans-serif;
}

.main-container {
    // 9 и 3 для контента 1170px + поля
    display: grid;
    grid-template-columns: 14% 55% 17% 14%;
    grid-column-gap: 2rem;
    justify-content: center;
    .posts {
        grid-column: 2/ 3;
    }

    .sidebar {
        grid-column: 3/4;
    }
}
