.footer {
    grid-column: 1/-1;
    background-color: #dde2e7;
    &__items {
        grid-column: 2 / 6;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 1.875rem;
        justify-items: start;
    }
    &__item {
        display: flex;
        flex-direction: column;
        padding: 3.75rem 0 5.625rem 0;
        .footer__link {
            color: #8e9399;
            font-size: 1rem;
            font-weight: 500;
            letter-spacing: 0.02rem;
            text-decoration: none;
            margin-bottom: .8rem;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}