.header {
    padding: 3% 4%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dde2e7;

    &__social {}

    &__logo {
        justify-self: center;
    }

    &__tools {
        display: flex;
        align-items: center;

        &-search {
            // margin-right: 2rem;
        }
    }
}