extends ./../layouts/main.pug

block variables
    - const title = "Главная";

block content
    include ./../sections/header.pug

    .main-container
        .posts
            +post("Test", "test", "img-01.jpg", "inner.html")
                p Paragraph
            +post("Test", "test", "img-02.jpg", "inner.html")
                p Paragraph
            +post("Test", "test", "img-03.jpg", "inner.html")
                p Paragraph
            +post("Test", "test", "img-04.jpg", "inner.html")
                p Paragraph
            +post("Test", "test", "img-05.jpg", "inner.html")
                p Paragraph
        .sidebar Sidebar
    
    