extends ./../layouts/main.pug

block variables
    - const pageTitle = jsonData.mainPageTitle;

block content
    include ./../sections/header.pug

    .main-container
        .posts
            each post in jsonData.posts
                +post(post.title, post.info, post.image, post.link)
                    p #{post.text}

            include ./../sections/pagination.pug

        .sidebar
            include ./../sections/recent_posts.pug
            include ./../sections/popular_posts.pug
            include ./../sections/instagram-photos.pug

    include ./../sections/footer.pug
    
    